@charset "UTF-8";
/* ============================== LAYOUT ============================== */
ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
	list-style: none;
	margin: 0;
	float: left;
}

ul.dropdown {
	position: relative;
	z-index: 597;
	float: left;
}

ul.dropdown ul {
	margin: 0px 3px 0px -3px;
}
ul.dropdown > ul {
	margin-left:-3px;
}
ul.dropdown li {
	padding: 0px 3px;
	line-height: 1.3em;
	vertical-align: middle;
	zoom: 1;
}
ul.dropdown > li {
	margin: 0px 3px;
	display:inline;
}

ul.dropdown li:hover {
	z-index: 599;
	cursor: default;
}

ul.dropdown ul{
	visibility: hidden;
	position: absolute;
	z-index: 598;
	padding-left:2px;
}
ul.dropdown ul ul{
	left: 100%;
	margin-top:-19px; /*22 - 3*/
	width:auto;
}
ul.dropdown ul li {
	position: relative;
	float: none;
	width: 200px;
}

ul.dropdown li:hover > ul {
	visibility: visible;
}

/* ============================== STYLE ============================== */
ul.dropdown {
	font: normal 14px/normal Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
ul.dropdown li {
	color: #fff;
	line-height: 22px;
	white-space: nowrap;
}
ul.dropdown li:hover {
	color: #b0d730;
}
ul.dropdown > li:hover {
	background-color: rgba(255, 255, 255, 0.25);
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

ul.dropdown a:link,
ul.dropdown a:visited	{ color: #fff; text-decoration: none; }
ul.dropdown a:hover		{ color: #b0d730; }
ul.dropdown a:active	{ color: #0395cc; }

ul.dropdown li:hover > ul {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 0px 5px 0px 5px;
	border-radius: 0px 5px 0px 5px;
}
/* Non-first level */
ul.dropdown ul {
	background-color: rgba(255, 255, 255, 0.25);
}

ul.dropdown ul li {
	line-height: 1.3em;
	white-space: normal;
}
ul.dropdown ul li:hover {
	border-left:2px solid white;
	margin-left:-2px;
}
/*-------------------------------------------------/
 * @section		Search Form
 */
/*
ul.dropdown form * {
 display: inline;
 float: left;
}

ul.dropdown form label {
 display: none;
}

ul.dropdown form input.text {
 width: 143px;
 height: 18px;
 padding: 2px 25px 2px 5px;
 border-width: 0;
 background: transparent url(images/bg_search-field.png) 0 0 no-repeat;
 color: #969696;
 font: normal 14px/17px Tahoma, Verdana, Arial, Helvetica, sans-serif;
 vertical-align: middle;
}

ul.dropdown form input.text:focus {
 outline: none;
}

ul.dropdown form input.button {
 position: relative;
 margin: 4px 0 0 -20px;
}

*/
/*-------------------------------------------------/
 * @section		Support Class `dir`
 */

/*
ul.dropdown *.dir {
 padding-right: 20px;
 background-image: url(images/nav-arrow-down.png);
 background-position: 100% 50%;
 background-repeat: no-repeat;
}


/* -- Components override -- */
/*
ul.dropdown-horizontal ul *.dir {
 padding-right: 15px;
 background-image: url(images/nav-arrow-right.png);
 background-position: 95% 50%;
 background-repeat: no-repeat;
}


/*-------------------------------------------------/
 * @section		Base Style Extension
 */

ul.dropdown li a {
 display: block;
 padding: 5px 10px;
 padding-bottom: 1px;
 padding-top: 1px;
 white-space: nowrap;
}


/*-------------------------------------------------/
 * @section		Base Style Reinitiate: post-override activities
 */

ul.dropdown li.dir {
/* padding: 5px 20px 5px 10px;*/
}

ul.dropdown ul li.dir {
/* padding: 5px 15px;*/
}


/*-------------------------------------------------/
 * @section		Custom
 */

ul.dropdown ul a {
 padding-left: 15px;
}

/* CSS2 clone */
ul.dropdown li:hover > *.dir {
 color: #b0d730;
}
