* {
	margin:0px;
	padding:0px;
	color:white;
}
body {
	width:100%;
	height:100%;
	background-color: black;
}

div#head{ position: fixed; top: 0; left:0; width:100%;}
div#panel{ margin:10px 10px 10px; padding:3px; height:20px; border:solid 1px red; }
div#svg{ margin:50px 10px 10px; padding:0px; height:1000px; border:solid 1px red; }
div#module{ position: fixed; top: 50px; left:10px; margin:3px; padding:3px; width:200px; border:solid 1px yellow; }
div#code{ position: fixed; top: 50px; right:10px; overflow:auto; width: 400px; margin:3px; padding:0px;}
#cir_code, #svg_code{ margin:3px 0px; overflow:auto; max-height:400px; border:1px solid green;}
/*div#cir_code{ position: absolute; top: 50px; right:180px; overflow:auto; width: 130px; height:200px; margin:0px; padding:0px;}
div#svg_code{ position: absolute; bottom: 100px; right:180px; overflow:auto; width: 400px; height:300px; margin:0px; padding:0px;}*/

div#libpreview { height:120px; width:120px;	margin: 0px auto 0px auto; border:solid 2px white;}
div#libcontent, div#wirecontent { margin:3px 0px; padding:0px 0px 3px 0px; border:1px solid green;}
ul#elements {height:150px; overflow:auto;}

/*.dropdown-module{*/
.off{
		visibility: hidden;
		display:none;
}
/*.dropdown-module-triger:hover .dropdown-module{*/
.on{
		visibility: visible;
		display:block;
}

h2{
	position:relative;
	text-align:center;
	font-weight:bold;
	font-size:20px;
	background: rgba(0,0,0,0.3)
/*	border:red 1px solid;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;*/
}
h2:after {
/*	float: right;*/
	position:absolute;
	right:0;
	content: "\22C1";
}
h2[class="open"]:after {
	content: "\22C0";
}

div#svg {
	background-color: rgba(255, 255, 255, 0.25);
}
div#svg .wire{
	cursor:crosshair
}
div#module, div#code {
	background-color: rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
div#libpreview {
	background-color: rgba(255, 255, 255, 0.25);
}
div#libcontent {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
}
#module ul {
	list-style-type:none;
	padding:0px;
	margin:0px;
}
p{
	margin:3px;
	text-align:center;
	background-color: rgba(128, 128, 255, 0.25);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

li.lib:hover{
	text-shadow: 0px 0px 5px white;
	filter: dropshadow(color=white, offx=0, offy=0);
	cursor:default;
}

.hilite { border-color:red; }
.selected { font-weight:bold; }

div#code{
	border:1px solid yellow;
}
div#cir_code, div#svg_code{
	background-color: rgba(255, 255, 255, 0.1);
	color: rgb(0, 255, 0);
	font-size: 10px;
}

div#panel, div#svg{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.shortcut{
/*	position: absolute;
	right: 0;*/
	float:right;
	display: inline-block;
	white-space: nowrap;
	color:#ccc;
}
