div.panel{
	position:absolute;
	height:20px;
	left:10px;
	top:10px;
	border:solid 1px red;
}

div.canvas{
	position:absolute;
	left:10px;
	top:40px;
	border:solid 1px green;
}

.library{
	fill:white;
	stroke:red;
}

.canvas{
	fill:white;
	stroke:red;
}
