<template name="Circuits_show">
  <section class="page circuits-show {{actingClass}}">
    <header>
    <nav class="js-title-nav">
      {{#momentum plugin="fade"}}
        {{#if editing}}
          <form class="js-edit-form circuit-edit-form">
            <input type="text" name="name" value="{{circuit.name}}">
            <div class="nav-group right">
              <a href="#" class="js-cancel nav-item">
                <span class="icon-close js-cancel" title={{_ 'Cancel'}}></span>
              </a>
            </div>
          </form>
        {{else}}
          <div class="nav-group">
            <a href="#" class="js-menu nav-item">
              <span class="icon-circuit-unordered" title={{_ 'Show Menu'}}></span>
            </a>
          </div>

          <h1 class="js-edit-circuit title-page">
            <span class="title-wrapper">{{circuit.name}}</span>
          </h1>

          <div class="nav-group right">
            <div class="nav-item options-mobile">
              <select class="js-action">
                <option disabled selected>{{_ 'Select an action'}}</option>
                {{#if circuit.owner}}
                  <option value="public">{{_ 'Make Public'}}</option>
                {{else}}
                  <option value="private">{{_ 'Make Private'}}</option>
                {{/if}}
                <option value="delete">{{_ 'Delete'}}</option>
              </select>
              <span class="icon-cog"></span>
            </div>
            <div class="options-web">
              {{#if cancel}}
              <a href="#" class="js-cancel nav-item">
                <span class="icon-close js-cancel" title={{_ 'Cancel'}}></span>
              </a>
              {{/if}}
              {{#if editing}}
              <a class="js-toggle-circuit-privacy nav-item">
                {{#if circuit.owner}}
                  <span class="icon-lock" title={{_ 'Make circuit public'}}></span>
                {{else}}
                  <span class="icon-unlock" title={{_ 'Make circuit private'}}></span>
                {{/if}}
              </a>

              <a class="js-delete-circuit nav-item">
                <span class="icon-trash" title={{_ 'Delete circuit'}}></span>
              </a>
              {{else}}
              <a class="js-edit nav-item">
                <span class="icon-edit" title={{_ 'Edit circuit'}}></span>
              </a>
              {{/if}}
            </div>
          </div>

        {{/if}}
      {{/momentum}}
    </nav>
    </header>


    <svg class="js-circuit-canvas circuit-items" width="100%" height="100%"
      preserveAspectRatio="xMinYMin meet">

      <defs>
        <marker id="activeWireEnd"
                markerWidth="8" markerHeight="8"
                refX="4" refY="4">
          <circle class="connector" cx="4" cy="4" r="3" >
            <animate dur="2s" attributeName="r" values="3; 1; 3" repeatCount="indefinite" />
          </circle>
        </marker>

        <marker id="wireLabel"
                markerWidth="20" markerHeight="8"
                refX="10" refY="4">
          <text class="connector" x="0" y="0" >wire</text>
        </marker>
      </defs>

      {{#if subscriptionsReady}}
      <g class="js-circuit">
        {{> Active_wire wiring=wiring}}
        {{> Active_element}}

        {{#each wire in wires}}
          {{> Wires_item (wireArgs wire)}}
        {{/each}}

        {{#each element in elements}}
          {{> Elements_item (elementArgs element)}}
        {{else}}
          <text class="title-message">{{_ 'No elements here'}}</text>
          <text class="subtitle-message">{{_ 'Add new elements using the field above'}}</text>
        {{/each}}

        {{> Active_pin}}

        {{#if editing }}
          {{#if selectedElement }}
            <!-- element menu -->
            {{> Element_edit_menu (elementMenuArgs "")}}
          {{/if}}
          {{#if selectedWire }}
            <!-- wire menu -->
            {{> Wire_edit_menu (wireMenuArgs "")}}
          {{/if}}

          {{> Operations}}
        {{/if}}
      </g>

        {{#if viewing }}
          {{#if selectedElement }}
            {{> Element_info (elementMenuArgs "")}}
          {{/if}}
          {{#if selectedWire }}
            <!-- {{> Wire_info (wireMenuArgs "")}} -->
          {{/if}}

        {{/if}}
      {{else}}
          <text class="title-message">{{_ 'Loading elements...'}}</text>
      {{/if}}
    </svg>
    <footer>
      <div class="status">
        <div style="float:left;">
          {{actingClass}} {{#if wiring}} {{wiringMode}} {{/if}}
        </div>
        {{#let condition=selection}}
        {{#if condition}}
        <div style="float:left;">
          | {{active}}: {{selection}}
          <button class="js-cancel-selection icon-close" title={{_ 'Cancel'}}></button>
        </div>
        {{/if}}
        {{/let}}

        <div style="float:right;">
          T: {{mouse.x}}, {{mouse.y}}
        </div>
        <div style="float:right;">
          Zoom: {{zoom}} %, pan: {{pan}} |
        </div>
      </div>
      <form class="command-box">
        <input name="command-line" type="text"/>
        <div class="nav-group right">
          <button class="icon-close js-clear-input" title={{_ 'Clear'}}></button>
        </div>
      </form>


    </footer>

  </section>
</template>
