<template name="Elements_item">
  {{#let t=element.transform}}
  <g id="{{element._id}}" name="{{element.name}}"
    class="js-circuit-element circuit-element"
    transform="translate({{t.x}} {{t.y}})">
    <g class="element-symbol" transform="rotate({{t.rot}})">
      <use xlink:href="{{symbolsSVG}}#{{element.symbol}}" />
      {{#each pin in symbol.pins}}
      <circle id="{{element.name}}-{{pin.id}}"
              data-id="{{pin.id}}" data-element="{{element.name}}"
              class="pin-connector js-pin"
              cx="{{pin.x}}" cy="{{pin.y}}" r="3" />
      {{/each}}
    </g>
    <text class="name-label" x="{{nameLabel.x}}" y="{{nameLabel.y}}">{{element.name}}</text>
    <circle r="25" class="js-select-element bound">
      {{#if selected }}
      <animate dur="2s" attributeName="fill-opacity" values=".1; .3; .1" repeatCount="indefinite" />
      {{/if}}
    </circle>
  </g>
  {{/let}}
</template>
