@import '../stylesheets/utils.less';

.flex-tab-bar {
    background: #fcfcfc none repeat scroll 0 0;
    border-left: 1px solid #eaeaea;
    .tab-button {
        background: #fcfcfc none repeat scroll 0 0;
        border-bottom: 1px solid #eaeaea;
        cursor: pointer;
        padding: 8px;
        text-align: center;
    }
}

.main-content {
  transition:
    right 0.25s cubic-bezier(0.5, 0, 0.1, 1) 0s,
}

.flex-tab {
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;

  transition:
    -webkit-transform 0.25s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    -moz-transform 0.25s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    -o-transform 0.25s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    transform 0.25s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  .content{
    overflow-x: hidden;
    overflow-y: auto;
    top: auto;
    height: 100%;
    & > div{
      transition:
        -webkit-transform 0.45s cubic-bezier(0.5, 0, 0, 1) 0s,
        -moz-transform 0.45s cubic-bezier(0.5, 0, 0, 1) 0s,
        -o-transform 0.45s cubic-bezier(0.5, 0, 0, 1) 0s,
        transform 0.45s cubic-bezier(0.5, 0, 0, 1) 0s,
        opacity 0.125s ease-out 0.1s;
    }
  }
  .circuit-settings{
    form label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }
    ul li {
      margin-bottom: 20px;
    }
  }
  .thumbnail {
    background: transparent;
    margin:0;
  }
}


.flex-tab {
    background-color: #f4f4f4;
    border-left-color: #eaeaea;
    li {
      color: rgba(255, 255, 255, 0.4);
      &:hover {
        color: white;
      }
    }
    li .options{
      visibility: hidden;
    }
    li:hover .options{
      visibility: visible;
    }
}
