<template name="Ruler">
  <g class="ruler-horizontal" transform="translate({{pan.x}},0) scale({{zoom}})">
  {{#each tic in xTicsMajor}}
    <rect x="{{tic.x}}" y="{{tic.y}}" width="{{tic.w}}" height="{{tic.h}}" />
  {{/each}}
  {{#each tic in xTicsText}}
    <g class="ruler-text" transform="translate({{tic.x}} 0)">
      <text transform="scale({{tic.s}}) rotate({{tic.r}})" x="0" y="{{tic.y}}"
      dominant-baseline="text-before-edge">{{tic.x}}</text>
    </g>
    <rect x="{{tic.x}}" y="{{tic.y}}" width="{{tic.w}}" height="{{tic.h}}" />
  {{/each}}
  {{#each tic in xTicsMinor}}
    <rect x="{{tic.x}}" y="{{tic.y}}" width="{{tic.w}}" height="{{tic.h}}" />
  {{/each}}
  </g>

  <g class="ruler-vertical" transform="translate(0,{{pan.y}}) scale({{zoom}})">
  {{#each tic in yTicsMajor}}
    <rect x="{{tic.x}}" y="{{tic.y}}" width="{{tic.w}}" height="{{tic.h}}" />
  {{/each}}
  {{#each tic in yTicsText}}
    <g class="ruler-text" transform="translate(0 {{tic.y}})">
      <text transform="scale({{tic.s}}) rotate({{tic.r}} {{tic.x}} {{tic.x}})"
      x="0" y="0">{{tic.y}}</text>
    </g>
    <rect x="{{tic.x}}" y="{{tic.y}}" width="{{tic.w}}" height="{{tic.h}}" />
  {{/each}}
  {{#each tic in yTicsMinor}}
    <rect x="{{tic.x}}" y="{{tic.y}}" width="{{tic.w}}" height="{{tic.h}}" />
  {{/each}}
  </g>
</template>
