<template name="App_body">
  {{#HammerTouchArea gestureMap=templateGestures}}
    <div id="sonce" class="{{menuOpen}} {{cordova}}">
      <div class="navbar-header">
        <button type="button" class="js-menu navbar-toggle collapsed"
        data-toggle="collapse" data-target="#menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-menu" title={{_ 'Show Menu'}}></span>
        </button>
      </div>

      <aside id="menu" class="side-nav">
        {{> Account_box}}
        {{> Circuits_list}}
      </aside>

      {{#unless connected}}
        <div class="notifications">
          <div class="notification">
            <span class="icon-refresh animate-spin"></span>
            <div class="meta">
              <div class="title-notification">Trying to connect</div>
              <div class="description">There seems to be a connection issue</div>
            </div>
          </div>
        </div>
      {{/unless}}

      <div class="content-overlay"></div>

      <div class="main-content {{flexOpened}}">
        {{#if Template.subscriptionsReady}}
          {{> Template.dynamic template=main}}
          <section class="flex-tab">
            {{> Template.dynamic template=flexTemplate data=flexData}}
          </section>
        {{else}}
          {{> App_loading}}
        {{/if}}
      </div>

      <div class="flex-tab-bar" role="toolbar">
        {{> Flex_tab_bar}}
      </div>

    </div>
  {{/HammerTouchArea}}
</template>
