<template name="App_body">
  {{#HammerTouchArea gestureMap=templateGestures}}
    <div id="sonce" class="{{menuOpen}} {{cordova}}">

      <aside id="menu" class="side-nav">
        {{#if currentUser}}
          <div class="btns-group-vertical">
            <button href="#" class="js-user-menu btn btn-secondary">
              {{#if userMenuOpen}}
                <span class="icon-arrow-up"></span>
                {{else}}
                <span class="icon-arrow-down"></span>
              {{/if}}

              {{emailLocalPart}}
            </button>
            {{#if userMenuOpen}}
              <button class="js-logout btn btn-secondary">{{_ 'Logout'}}</button>
            {{/if}}
          </div>
        {{else}}
          <div class="btns-group">
            <button href="{{pathFor 'signin'}}" class="btn btn-secondary">{{_ 'Sign In'}}</button>
            <button href="{{pathFor 'join'}}" class="btn btn-secondary">{{_ 'Join'}}</button>
          </div>
        {{/if}}

        {{> Circuits_list}}
      </aside>

      {{#unless connected}}
        <div class="notifications">
          <div class="notification">
            <span class="icon-sync"></span>
            <div class="meta">
              <div class="title-notification">Trying to connect</div>
              <div class="description">There seems to be a connection issue</div>
            </div>
          </div>
        </div>
      {{/unless}}

      <div class="content-overlay"></div>

      <div class="main-content {{flexOpened}}">
        {{#if Template.subscriptionsReady}}
          {{> Template.dynamic template=main}}
          <section class="flex-tab">
            {{> Template.dynamic template=flexTemplate data=flexData}}
          </section>
        {{else}}
          {{> App_loading}}
        {{/if}}
      </div>

      <div class="flex-tab-bar" role="toolbar">
        {{> Flex_tab_bar}}
      </div>

    </div>
  {{/HammerTouchArea}}
</template>
