<template name="About">
  <h1>About SONCE</h1>
  <h2>Authors</h2>
  <p>
    Main developer <a href="https://mitja.jež.si" title="Mitja Jež" target="_blank">Mitja Jež</a>
  </p>
  <h2>Source code</h2>
  <p>
    Available on <a href="https://github.com/mitjajez/SONCE/" title="SONCE development" target="_blank">Github</a>
  </p>
  <h2>Support SONCE development</h2>
  <p>
    <a href="https://flattr.com/submit/auto?fid=w7dn30&amp;url=https%3A%2F%2Fgithub.com%2Fmitjajez%2FSONCE">
      <img src="https://button.flattr.com/flattr-badge-large.png"
      alt="flattr.com" style="max-width:100%;">
    </a>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=X6B3H2HX9C5XN&amp;lc=SI&amp;item_name=Mitja%20Je%C5%BE&amp;item_number=SONCE&amp;currency_code=EUR&amp;bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted">
      <img src="https://img.shields.io/badge/Donate-PayPal-green.svg"
      alt="PayPal" style="max-width:100%;">
    </a>
    <a href="https://gratipay.com/SONCE/">
      <img src="https://img.shields.io/gratipay/team/SONCE.svg?maxAge=2592000"
      alt="Gratipay Team" style="max-width:100%;">
    </a>
  </p>
</template>
