<template name="Circuit_info">
  <div class="content">
    <div class="list-view circuit-settings">
      <div class="status">
        <h2>{{_ "Circuit_Info"}}</h2>
      </div>
      <form>
        <ul class="list clearfix">
          <li>
            <label>Name</label>
            <div>
              <span>{{circuit.name}}
                <i class="icon-edit" title={{_ 'Edit circuit name'}}
                  data-edit="circuitName"></i>
              </span>
            </div>
          </li>
        </ul>
      </form>
      <form>
        <h3>Netlist:</h3>
        <ul class="list clearfix">
        {{#each element in elements}}
          <li>
            {{element.name}}
            <span class="options">
              <i class="icon-edit" title={{_ 'Edit element'}}
                data-edit="circuitName"></i>
              <i class="icon-trash" title={{_ 'Delete element'}}
                data-edit="circuitName"></i>
            </span>
            {{element.pins}}
          </li>
        {{/each}}
        </ul>
      </form>
      <form>
        <h3>Wires:</h3>
        <ul class="list clearfix">
        {{#each wire in wires}}
          <li>
            <span>{{wire.name}}</span>
            {{wire.pins}}
          </li>
        {{/each}}
        </ul>
      </form>
    </div>
  </div>
</template>
