<template name="Circuit_info">
  <div class="content">
    <div class="list-view circuit-settings">
      <div class="panel-heading">{{_ "Circuit_Info"}}</div>
      <div class="panel-body">
      <form class="js-form">
        <ul class="list clearfix">
          <li>
            <label>Name</label>
            {{#if editing 'circuitName'}}
            <div class="input-group">
              <input type="text" class="form-control js-editing"
              name="circuitName" value="{{circuit.name}}">
              <div class="input-group-btn">
                <button class="btn btn-default js-cancel"
                title={{_ 'Cancel'}} type="button">
                  <span class="icon-cancel"></span>
                </button>
                <button class="btn btn-default js-save"
                title={{_ 'Save'}} type="button">
                  <span class="icon-ok"></span>
                </button>
              </div>
            </div>
            {{else}}
            <div>
              {{circuit.name}}
              <a href="#" data-edit="circuitName"
              title={{_ 'Edit circuit name'}} >
                <span class="icon-pencil"></span>
              </a>
            </div>
            {{/if}}
          </li>
          <li>
            <label>Description</label>
            {{#if editing 'circuitDescription'}}
            <div class="input-group">
              <input type="text" class="form-control js-editing"
              name="circuitDescription" value="{{circuit.description}}">
              <div class="input-group-btn">
                <button class="btn btn-default js-cancel"
                title={{_ 'Cancel'}} type="button">
                  <span class="icon-cancel"></span>
                </button>
                <button class="btn btn-default js-save"
                title={{_ 'Save'}} type="button">
                  <span class="icon-ok"></span>
                </button>
              </div>
            </div>
            {{else}}
            <div>
              {{circuit.description}}
              <a href="#" data-edit="circuitDescription"
              title={{_ 'Edit circuit description'}} >
                <span class="icon-pencil"></span>
              </a>
            </div>
            {{/if}}
          </li>
          <li>
            <label>{{_ "Access"}}</label>
            <button class="js-toggle-circuit-privacy btn btn-default" type="text">
              {{#if circuit.owner}}
              <span class="icon-lock" title={{_ 'Make circuit public'}}></span>
              {{else}}
              <span class="icon-lock-open" title={{_ 'Make circuit private'}}></span>
              {{/if}}
            </button>
            {{#if editing 'circuitPrivacy'}}
            <label>
              <input type="radio" name="circuitPrivacy" class="editing"
              value="c" checked="{{$eq circuitPrivacy 'c'}}" />
              {{_ "Public_Circuit"}}
            </label>
            <label>
              <input type="radio" name="circuitPrivacy"
              value="p" checked="{{$eq circuitPrivacy 'p'}}" />
              {{_ "Private_Circuit"}}
            </label>
            <button type="button" class="button secondary cancel">
              {{_ "Cancel"}}
            </button>
            <button type="button" class="button primary save">
              {{_ "Save"}}
            </button>
            {{else}}
            {{circuitPrivacyDescription}}
            <span class="icon-pencil" data-edit="circuitPrivacy"></span>
            {{/if}}
          </li>
        </ul>
      </form>
      <h3>{{_ "Danger_zone"}}</h3>
      <nav>
        <button class='js-delete-circuit btn btn-default red'
        title={{_ 'Delete circuit'}}>
          <span class='icon-trash'>{{_ "Delete"}}</span>
        </button>
      </nav>
      </div>
    </div>
  </div>
</template>
