<template name="Circuit_info">
  <div class="content">
    <div class="list-view circuit-settings">
      <div class="status">
        <h2>{{_ "Circuit_Info"}}</h2>
      </div>
      <form class="js-form">
        <ul class="list clearfix">
          <li>
            <label>Name</label>
            {{#if editing 'circuitName'}}
            <div class="input-group">
              <input type="text" class="form-control js-editing"
              name="circuitName" value="{{circuit.name}}">
              <div class="input-group-btn">
                <button class="btn btn-default js-cancel"
                title={{_ 'Cancel'}} type="button">
                  <span class="icon-cancel"></span>
                </button>
                <button class="btn btn-default js-save"
                title={{_ 'Save'}} type="button">
                  <span class="icon-ok"></span>
                </button>
              </div>
            </div>
            {{else}}
            <div>
              {{circuit.name}}
              <a href="#" data-edit="circuitName"
              title={{_ 'Edit circuit name'}} >
                <span class="icon-edit"></span>
              </a>
            </div>
            {{/if}}
          </li>
          <li>
            <label>Description</label>
            {{#if editing 'circuitDescription'}}
            <div class="input-group">
              <input type="text" class="form-control js-editing"
              name="circuitDescription" value="{{circuit.description}}">
              <div class="input-group-btn">
                <button class="btn btn-default js-cancel"
                title={{_ 'Cancel'}} type="button">
                  <span class="icon-cancel"></span>
                </button>
                <button class="btn btn-default js-save"
                title={{_ 'Save'}} type="button">
                  <span class="icon-ok"></span>
                </button>
              </div>
            </div>
            {{else}}
            <div>
              {{circuit.description}}
              <a href="#" data-edit="circuitDescription"
              title={{_ 'Edit circuit description'}} >
                <span class="icon-edit"></span>
              </a>
            </div>
            {{/if}}
          </li>
        </ul>
      </form>
      <form>
        <h3>Wires:</h3>
        <ul class="list clearfix">
        {{#each wire in wires}}
          <li>
            <span>{{wire.name}}</span>
            ({{wire.ends.[0].e}}-{{wire.ends.[0].p}}) -> ({{wire.ends.[1].e}}-{{wire.ends.[1].p}})
          </li>
        {{/each}}
        </ul>
      </form>
      <form>
        <h3>Access:</h3>
        <ul class="list clearfix">
          <li>
            {{#if editing}}
            <button class="js-toggle-circuit-privacy btn btn-default navbar-btn" type="text">
              {{#if circuit.owner}}
              <span class="icon-lock" title={{_ 'Make circuit public'}}></span>
              {{else}}
              <span class="icon-lock-open" title={{_ 'Make circuit private'}}></span>
              {{/if}}
            </button>
            {{/if}}
          </li>
        </ul>
      </form>
      <form>
        <h3>Danger zone:</h3>
        <ul class="list clearfix">
          <li>
            <button class="js-delete-circuit btn btn-default" title={{_ 'Delete circuit'}}>
              <span class="icon-trash"></span>
            </button>
          </li>
        </ul>
      </form>
    </div>
  </div>
</template>
