<template name="Components_list">
	<div class="content">
		<div class="list-view components-list">
      <div class="status">
        <h2>{{_ "Components_List"}}</h2>
      </div>

      <div class="input-group input-group-sm">
        <span class="input-group-addon">
          <span class="icon-filter"></span>
        </span>
				{{> EasySearch.Input index=componentsIndex attributes=inputAttributes }}
      </div>

				<ul class="list clearfix lines {{viewClass}}">
		    {{#EasySearch.Each index=componentsIndex }}

					<li class="component-symbol {{viewClass}}-item">
					{{#if view_grid}}

						{{#if types}}
							{{> Components_item key=key name=name type=types.[0] }}
			        <div class="more-types grid" hidden="hidden">
			          {{#each type in types}}
									{{> Components_item key=key name=name type=type }}
				        {{/each}}
				      </div>
						{{else}}
							{{> Components_item key=key name=name type="" }}
						{{/if}}

					{{else}}
						<a href="#" title="{{name}}">{{_ name}}</a>
					{{/if}}
	      	</li>
	    	{{/EasySearch.Each}}
	  		</ul>
    </div>
  </div>
</template>
