<template name="Components_list">
	<div class="content">
		<div class="list-view components-list">
      <div class="status">
        <h2>{{_ "Components_List"}}</h2>
      </div>
			{{> EasySearch.Input index=componentsIndex }}
				<ul class="list clearfix lines {{viewClass}}">
		    {{#EasySearch.Each index=componentsIndex }}

					<li class="component-symbol">
					{{#if view_grid}}

						{{#if types}}
							{{> Components_item key=key name=name type=types.[0] }}
			        <div class="more-types grid" hidden="hidden">
			          {{#each type in types}}
									{{> Components_item key=key name=name type=type }}
				        {{/each}}
				      </div>
						{{else}}
							{{> Components_item key=key name=name type="" }}
						{{/if}}

					{{else}}
						<a href="#" title="{{name}}">{{_ name}}</a>
					{{/if}}
	      	</li>
	    	{{/EasySearch.Each}}
	  		</ul>



<!--      {{#if Template.subscriptionsReady}} -->
<!--        {{#if hasComponents}}
          <h2>{{_ "Components_list_empty"}}</h2>
        {{else}} -->
          <div class="control">
            <div class="search-form">
              <div class="input-line filter">
<!--                {{> inputAutocomplete settings=autocompleteSettingsAddUser id="component-add-filter" class="filter" placeholder=tFilter}} -->
              </div>
            </div>
          </div>
<!--        {{/if}} -->
<!--      {{/if}} -->
    </div>
  </div>
</template>
