<template name="Components_item">
  <div class="thumbnail box">
    <a class="js-select-component" title="{{name}}">
      <svg role="img" class="box-content" width="100%" height="100%"
        preserveAspectRatio="xMaxYMax meet">
        <use x="0" y="0" width="100%" height="100%"
          xlink:href="{{symbolsSVG}}#{{symbolName}}" />
      </svg>
      {{#if type}}
      <i class="js-show-more-types show-more-types icon-arrow-down" role="button"></i>
      {{/if}}
    </a>
  </div>
</template>
