/* CSS declarations go here */
.tab-pane > div {
  max-height: 500px;
  overflow-y: auto;
}

.toggle-types {
  display: none;
  position: absolute;
  z-index: 9999999;
  background-color: white;
}

.box-content {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.box::before {
    content: "";
    display: block;
    padding-top: 100%;
}
.box {
    position: relative;
    width: 100%;
}
.ratio16_9::before {
    padding-top: 56.25%;
}
.ratio1::before {
    padding-top: 50%;
}



/*
 SVG stylesheet
*/
svg {
	background-color:black;
}
use {
	fill:white;
}
use.round {
  fill-opacity:0;
  stroke-opacity:0;
}
.round{
	fill-opacity:0;
	stroke-opacity:0;
}
.wire{
}
.line{
	stroke:white;
	stroke-width:2;
}
.border {
	fill:white;
	fill-opacity:0;
	stroke-width:2;
	stroke:white;
}
.fill {
	fill:white;
	stroke-width:2;
	stroke:white;
}
.mark {
	stroke:white;
}

.connection{
/*	visibility:hidden;*/
	stroke-width:3;
	fill:white;
	fill-opacity:0;
	stroke-width:0.5;
	stroke:#00ff00;
}
.connection:hover{
	visibility:visible;
}
