<template name="Account_box">
  <div class="account-box" aria-label="{{_ "Account"}}" role="region">
    {{#if currentUser}}
      <div class="btns-group-vertical">
        <button class="js-user-menu btn btn-secondary" type="text">
          {{emailLocalPart}}
          {{#if userMenuOpen}}
            <span class="icon-up"></span>
            {{else}}
            <span class="icon-down"></span>
          {{/if}}
        </button>
        {{#if userMenuOpen}}
          <button class="js-logout btn btn-secondary">
            {{_ 'Logout'}}
            <span class="icon-logout"></span>
          </button>
        {{/if}}
      </div>
    {{else}}
      <div class="btns-group">
        <a href="{{pathFor 'signin'}}" class="btn btn-secondary">
          <span class="icon-login">{{_ 'Sign In'}}</span>
        </a>
        <a href="{{pathFor 'join'}}" class="btn btn-secondary">
          <span class="icon-magic">{{_ 'Join'}}</span>
        </a>
      </div>
    {{/if}}
  </div>
</template>
