@import './utils.less';

.connector {
  stroke: #bada55;
  stroke-width: 1px;
  fill: transparent;
}
.connection{
/*	visibility:hidden;*/
	stroke-width:3;
	fill:white;
	fill-opacity:0;
	stroke-width:0.5;
	stroke:#00ff00;
  stroke-linecap:round;
}
.connection:hover{
	visibility:visible;
}

.bound{
  fill: @color-secondary;
  fill-opacity: 0;
  stroke-opacity: 0;
}
.wire{
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.wire-label{
  font-size: 10px;
  visibility: hidden;
}
.circuit-wire:hover + .wire-label{
  visibility: visible;
}

.viewing {
  .pin-connector {
    visibility: hidden;
  }
}
.editing {
  .circuit-element:hover .bound{
    fill-opacity: .1;
  }
  .circuit-wire:hover {
    stroke-width: 3;
    cursor: url("/img/cursor-select-line.png"), pointer;
  }
  .active-pin:hover {
    cursor: url("/img/cursor-select-line.png"), pointer;
  }
}
.wiring {
  .wire:hover {
    stroke-width: 3;
  }
  .wire:hover:not(.active-wire) {
    cursor: url("img/cursor-select-line.png");
  }
  .active-wire {
    stroke-width: 3;
  }
}

.circuit-items .circuit-item {
  .font-s2;

  // Layout of circuit-item children
  display: flex;
  flex-wrap: wrap;
  height: 3rem;
  width: 100%;

  .checkbox {
    flex: 0, 0, 44px;
    cursor: pointer;
  }
  input[type="text"] { flex: 1; }
  .delete-item { flex: 0, 0, 3rem; }


  // Style of circuit-item children
  input[type="text"] {
    background: transparent;
    cursor: pointer;

    &:focus { cursor: text; }
  }

  .delete-item {
    color: @color-medium-rare;
    line-height: 3rem;
    text-align: center;

    &:hover { color: @color-primary; }
    &:active { color: @color-well; }
    .icon-trash { font-size: 1.1em; }
  }


  // Border between circuit items
  & + .circuit-item { border-top: 1px solid #f0f9fb; }

  // Checked
  &.checked {
    input[type="text"] {
      color: @color-medium-rare;
      text-decoration: line-through;
    }

    .delete-item { display: inline-block; }
  }

  // Editing
  .delete-item { display: none; }
  &.editing .delete-item { display: inline-block; }
}
