@import './utils.less';

footer {
  .position(absolute, auto, 0, 0, 0, auto);
  background: linear-gradient(to top, #d0edf5, #e1e5f0 100%);
  padding: 5px 15px;

  & .navbar-form.zoom-box .input-group > .form-control {
    min-width: 5em;
    width: 5em;
  }
}
